<div class="top">
  <div class="row">
    <div class="small-12 small-centered medium-12 medium-centered large-12 large-centered columns">
      <h1 id="title">Tyler J Wasden</h1>
      <div class="sticky" id="ty">
        <nav class="top-bar" data-topbar>
          <ul class="inline-list"  id="go">
            <li >
               <%= link_to "Portfolio", :anchor => "portfolio" %>
            </li>
            <li >
               <%= link_to "About Me", :anchor => "aboutMe" %>
            </li>
            <li>
               <%= link_to "Contact", :anchor => "contact" %> 
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- navbar end -->

<!-- portfolio section begin-->

<br id="portfolio">

<div class="row work">
  <hr>
<!--   <div class="small-1 large-1 columns"></div>
 -->  <div class="small-12 small-centered large-12 large-centered columns">
  <h3><strong class="tag pull left">Portfolio</strong></h3>
  <br>
  <br>
  <br>
  <h3 class="work"> The following 3 projects show the skills I acquired at the <%= link_to "MakerSquare", "http://www.themakersquare.com/", :target => "_blank" %>. I list the technologies implemented in each project.</h3>
</div>
<hr>
<br>
<h1 class="accent" id="section">Connect 2 Good</h1>
<h3><%= link_to "Github Repo", "https://github.com/tdubb/mks-final-project", :target => "_blank" %><h6>(the current code is private so this repo shows the code in an earlier state.</h6></h3>
  <div class="row">
    <div class="large-4 columns">
      <br>
      <div class="border">
        <a href="assets/c2g.png" target="_blank"><img src="assets/c2g.png"></a>
        <br>
        <br>
      </div>
      
    </div>
    
    <div class="large-8 columns">
      <h4>Back End and JQuery</h4>
      <div class="row">
        <div class="large-6 columns">
          <p><%= link_to "Connect 2 Good", "http://www.connect2good.com/", :target => "_blank" %> divides users into 3 categories; donors, organization owners and site admin.  Each category has access to different pages and  some pages change dynamically based on their status. I was instrumental in planning and setting up the back end functionality so that the site was simple yet powerful for all three user categories. </p>
        </div>
        <div class="large-6 columns">
          <p>After setting up the back end I focused on using JQuery to make the dashboards as convenient and dynamic as possible. Providing pertenent information to the organization owners and allowing them to create, activate, delete needs as well as allowing them to manage their offers without having to wait for a page refresh. </p>
        </div>
      </div>
    </div>
  </div>
 
 
  <!-- Third Band (Image Right with Text) -->
 
  <div class="row">
    <div class="large-8 columns">
      <h4>Working With The Client</h4>
 
      <p>Connect 2 Good is the work of a select group of MakerSquare students. Myself and my two teammates worked closely with the client to see that we created an intuitive user experience and that the site fulfilled its mission. We created user stories and helped narrow the functionality to it's essence.  Then we created a list of what was included in an MVP and a list of other features that were stretch goals.  The most recent addition I have made is the city filter so that Connect 2 Good will benefit not only Austin but other citites as well.</p>
      
    
 
    </div>
    <div class="large-4 columns border">
      <br>
      <a href="assets/c2gZ.png" target="_blank"><img src="assets/c2gZ.png"></a>
      <br>
      <br>
    </div>
  </div>
 <h4>Technologies</h4>
 <p>
   Active Record, AWS, CarrierWave, Chart-js, Devise, Foundation, JQuery, Mandrill, PG Search.  
 </p>

<!-- <h1 class="accent" id="section">Connect 2 Good</h1>
<div class="row">
  <div class="small-12 large-12 columns connect2good">
    <img src="assets/connect2good.png">
  </div>
</div>

  <div class="small-12 small-centered large-12 large-centered columns"> -->
<!--     <h5 class="paragraph">
      <strong class="accent">Connect 2 Good</strong> is an Austin area non profit with the mission of lowering the friction of getting in kind donations to the non profits that need them. The website is designed to make finding a non profit in need of an item you have as easy as typing in the name of the item you have to donate. <br> 
      This project is a continuing collaboration with 2 teammates and a team leader. We work closely with the head of Connect 2 Good to carry out his vision. I've mostly focused on the backend and JQuery elements. There are dashboard pages available to the site admin and organization owners. The most recent feature I added was the city search filter. <br> The link to the code is <%= link_to "connect2good", "https://github.com/tdubb/mks-final-project", :target => "_blank" %> and the live website is <%= link_to "www.connect2good.com", "http://www.connect2good.com/", :target => "_blank" %>.  The repository is a little outdated because the owner wants to keep the current code private. <br>
      Coding for Kittens is the only dummy organization on the site, feel free to enter 'desk' into the search bar and make a donation to Coding for Kittens! 
    </h5> -->
    
 <!--  </div> -->
  <hr>
  <br>
  <h1 class="accent" id="section">Weightable</h1>
  <h3>
  <%= link_to "Github Repo", "https://github.com/tdubb/Weightable", :target => "_blank" %></h3>
  <div class="row">
  
        <div class="large-6 columns">
           <a href="assets/weightable1.png" target="_blank"><img src="assets/weightable1.png"></a>
          <br>
          <br>
          <br>
          <a href="assets/weightable3.png" target="_blank"><img src="assets/weightable3.png"></a>
        </div>
  
  
         <div class="large-6 columns">
  
<!--            <h3 class="show-for-small"><br>A Long Weekend<hr/></h3> -->
  
           <h4>A Long Weekend</h4>
           <p>Weightable was an optional project to do over the Christmas break. I created this site in 4 days with minor contributions from a classmate. This site is the response to the challenge to make an app that allowed a user to create a profile and to record their weight once daily and upload a picture along with their daily weight. This site allows for one weight and picture to be recorded each day that can be updated as many times as desired throughout the day but becomes inmutable at the end of the day. The user can set a goal and a deadline that can updated at any time. The 'client' also wanted to be able to support their friends as they worked towards their goals. There is a self referencing user table that allows for friendship relationships to be created. Friends can visit each others profiles and leave comments of support. 
           </p>
         </div>

         <h4>Technologies</h4>
         <p>Active Record, CarrierWave, Devise, Disqus, Foundation</p>
  
  <!--      </div>
  <h1 class="accent" id="section">Weightable</h1>
  <div class="small-1 large-1 columns"></div>
  <ul class="large-block-grid-1 weightable weight">
    <li>
      <img src="assets/weightable1.png"> 
    </li>
  </ul>
  <ul class="large-block-grid-2 weightable">
    <li><img src="assets/weightable2.png"> 
    </li>
    <li><img src="assets/weightable3.png">
    </li>
  </ul> -->

<!--     <div class="small-12 small-centered large-12 large-centered columns">
      <h5 class="paragraph">
        <strong class="accent">Weightable</strong> was a practice app I made over a long weekend. During MakerSquare we had a practice client named Mr. Chiggens, he wanted an app to help chart his weight goals and to be able to support his friends who were also trying to lose weight.  This app is what I came up with over the course of a long weekend. A classmate made some contributions towards the end. <br> 
        I used Devise for authentication and had a "users" table and a "weights" table.  The users table was self referencing through a "followings" table to allow for a "friends" feature. I allowed for only one weight to be recorded per day but that weight could be upated as many times as desired with the most recent log being the one that persisted.  <br>
        The project is located at <%= link_to "Weigtable", "https://github.com/tdubb/Weightable", :target => "_blank" %>.
      </h5>
      
    </div> -->
    
</div>
<hr>
<br>
<h1 class="accent" id="section">ActorShowtimes</h1>
<h3><%= link_to "Github Repo", "https://github.com/tdubb/ActorShowtimes", :target => "_blank" %></h3>

<div class="row">
  <div class="large-12 columns">
    <h4>Webscraping, geocoder, google maps and more</h4>
    <p>
      <%= link_to "ActorShowtimes", "https://actorshowtimes.herokuapp.com/", :target => "_blank" %> was an excercise in data gathering and manipulation. During a weekend hackathon my partner and I decided that we wanted to look at movie search from a different angle.  Instead of looking for currently playing movies we decided to create a search that allowed a user to type in the name of their favorite actor and then show them the times and locations of any movie that the actor was currently starring in.  After that we took it to the next step so users were able to create a profile where they could follow actors.
    </p>
  </div>
<div class="row">
  <div class="large-12 columns">
    <a href="assets/as.png" target="_blank"><img src="assets/as.png"></a>
  </div>
</div>
<div class="rows">
  <div class="large-12 columns">
    <br>
    <div class="large-7 columns">
      <br>
      <br>
      <h4>
        Technologies interacting
      </h4>
      <p>
        For our website to function we first used the gem Geocoder to get the user's zip code if it wasn't inputed.  Then we use the zipcode with along Nokogiri to scrape google movies for all the movies playing in that area.  Next we take the input from our search bar and run it against the The Movie Database api and see if the actor is in any of the movies playing in the area.  At that point any positive returns are displayed with the locations being inserted into google maps to show the theater locations.
      </p>
      <h4>
        Technologies used
      </h4>
      <p>
        Devise, Figaro, Foundation, Geocoder, Google Maps, Nokogiri, Themoviedb. 
      </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="large-5 columns"><a href="assets/as1.png" target="_blank"><img src="assets/as1.png"></a></div>
</div>

</div>
<hr>
<div class="small-12 small-centered large-12 large-centered columns">
  <h3><strong class="tag pull left">About me</strong></h3>
  <br>
  <br>
  <h3 class="work"> From Learning Ruby on my own to the MakerSquare program.</h3>
</div>
<hr>
<br id="aboutMe">
<div class="row">
  <h1 class="accent" id="section">Tyler J Wasden</h1>
   <!-- Main Blog Content -->
   <div class="large-12 columns" role="content">

     <article>
       <div class="row">
         <div class="large-6 columns">
  <!--         <br> -->
          <br>
          <br>
          <h4>2013 The Year of Code</h4>
           <p>In the beginning of 2013 I started to explore coding through codecademy and other online resources. I found the courses challenging but fun and stimulating. After a few months of online resources I decided to trade in my netbook for a mac and set up my local environmnet.</p>
           <p>With my local environment ready I began to start Ruby tutorials which introduced me to databases, RSpec, Cucumber and Capybara. I also learned about Bootstrap and Rails powerful command line tools such as scaffolding. I was enjoying the tutorials and began using them as a starting point to make other websites such as <%= link_to "this one", "http://mighty-island-3137.herokuapp.com/", :target => "_blank" %>.</p>
         </div>
         <div class="large-6 columns">
           <img src="assets/ty.jpg" />
         </div>
       </div>
       <br>
      <h4>MakerSquare</h4>
       <p>I knew that I could work through these tutorials and explore web design on my own but when I learned of a local bootcamp opening up I decided it was time to kick my learning into high gear and prepare myself for a career change. I joined the <%= link_to "MakerSquare", "http://www.themakersquare.com/", :target => "_blank" %> program and was introduced to more complex database relationships, foundation as an alternate to bootstrap, Active Record, Ruby gems with various capabilities along with JavaScript and JQuery. I graduated from MakerSquare the end of January 2014</p>
       <p>I am now looking to transition into a full time position working with Ruby and JavaScript.  I love learning and I've been playing around with Angular so ideally my next step will allow me to continue to grow as a developer.</p>

     </article>
  <!-- Second Band (Image Left with Text) -->
</div>
</div>
<hr id="contact">
<div class="small-12 small-centered large-12 large-centered columns">
  <h3><strong class="tag pull left">Contact</strong></h3>
  <br>
  <br>
  <br>
  <h3 class="work"> If you're looking for a motivated junior developer with hands on experience and you think I would be a good fit for your company get in touch.</h3>
</div>
<hr>
<h3><a href="mailto:wasdenonrails@gmail.com">wasdenonrails@gmail.com</a></h3>