<div class="top">
  <div class="row">
    <div class="small-10 small-centered medium-12 medium-centered large-12 large-centered columns">
      <h1 id="title">Tyler J Wasden</h1>
      <div class="sticky" id="ty">
        <nav class="top-bar" data-topbar>
          <ul class="inline-list"  id="go">
            <li >
               <%= link_to "Portfolio", :anchor => "portfolio" %>
            </li>
            <li>
               <%= link_to "About Me", :anchor => "aboutMe" %>
            </li>
            <li>
               <%= link_to "Contact", :anchor => "contact" %> 
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- navbar end -->

<!-- portfolio section begin-->

<br id="portfolio">

<div class="row work">
  <hr>
  <div class="small-10 small-centered large-12 large-centered columns">
  <h3><strong class="tag pull left">Portfolio</strong></h3>
  <br>
  <br>
  <br>
  <h3 class="work"> The following 3 projects show the skills I acquired at the <%= link_to "MakerSquare", "http://www.themakersquare.com/", :target => "_blank" %>. I list the technologies implemented in each project.</h3>
</div>
<hr>
<br>
<h1 class="accent" id="section">Connect 2 Good</h1>
<h3><%= link_to "Github Repo", "https://github.com/tdubb/mks-final-project", :target => "_blank" %><h6>(the current code is private so this repo shows the code in an earlier state.</h6></h3>
<div class="row">
  <div class="small-10 small-centered large-4 columns">
    <br>
    <div class="border">
      <a href="assets/c2g.png" target="_blank"><img src="assets/c2g.png"></a>
      <br>
      <br>
    </div>
  </div>
    
  <div class="small-10 small-centered large-8 columns">
    <h4>Back End and JQuery</h4>
    <div class="row">
      <div class="small-10 small-centered large-6 columns">
        <p><%= link_to "Connect 2 Good", "http://www.connect2good.com/", :target => "_blank" %> divides users into 3 categories; donors, organization owners and site admin.  Each category has access to different pages and  some pages change dynamically based on their status. I was instrumental in planning and setting up the back end functionality so that the site was simple yet powerful for all three user categories. </p>
      </div>
      <div class="small-10 small-centered large-6 columns">
        <p>After setting up the back end I focused on using JQuery to make the dashboards as convenient and dynamic as possible. Providing pertenent information to the organization owners and allowing them to create, activate, delete needs as well as allowing them to manage their offers without having to wait for a page refresh. </p>
      </div>
    </div>
  </div>
</div> 
<div class="row">
  <div class="small-10 small-centered large-8 columns">
    <h4>Working With The Client</h4>
    <p>Connect 2 Good is the work of a select group of MakerSquare students. Myself and my two teammates worked closely with the client to see that we created an intuitive user experience and that the site fulfilled its mission. We created user stories and helped narrow the functionality to it's essence.  Then we created a list of what was included in an MVP and a list of other features that were stretch goals.  The most recent addition I have made is the city filter so that Connect 2 Good will benefit not only Austin but other citites as well.</p>
  </div>
  <div class="small-10 small-centered large-4 columns border">
    <br>
    <a href="assets/c2gZ.png" target="_blank"><img src="assets/c2gZ.png"></a>
    <br>
    <br>
  </div>
</div>
<h4>Technologies</h4>
<p>
 Active Record, AWS, CarrierWave, Chart-js, Devise, Foundation, Heroku, JQuery, Mandrill, PG Search.  
</p>
<hr>
<br>
<h1 class="accent" id="section">Weightable</h1>
<h3>
<%= link_to "Github Repo", "https://github.com/tdubb/Weightable", :target => "_blank" %></h3>
<div class="row">
  <div class="small-10 small-centered large-6 columns">
     <a href="assets/weightable1.png" target="_blank"><img src="assets/weightable1.png"></a>
    <br>
    <br>
    <br>
    <a href="assets/weightable3.png" target="_blank"><img src="assets/weightable3.png"></a>
  </div>
    <div class="small-10 small-centered large-6 columns">
     <h4>A Long Weekend</h4>
     <p>Weightable was an optional project to do over the Christmas break. I created this site in 4 days with minor contributions from a classmate. This site is the response to the challenge to make an app that allowed a user to create a profile and to record their weight once daily and upload a picture along with their daily weight. This site allows for one weight and picture to be recorded each day that can be updated as many times as desired throughout the day but becomes inmutable at the end of the day. The user can set a goal and a deadline that can updated at any time. The 'client' also wanted to be able to support their friends as they worked towards their goals. There is a self referencing user table that allows for friendship relationships to be created. Friends can visit each others profiles and leave comments of support. 
     </p>
    </div>
    <h4>Technologies</h4>
    <p>Active Record, CarrierWave, Devise, Disqus, Foundation</p> 
</div>
<hr>
<br>
<h1 class="accent" id="section">ActorShowtimes</h1>
<h3><%= link_to "Github Repo", "https://github.com/tdubb/ActorShowtimes", :target => "_blank" %></h3>
<div class="row">
  <div class="small-10 small-centered large-12 columns">
    <h4>Webscraping, geocoder, google maps and more</h4>
    <p>
      <%= link_to "ActorShowtimes", "https://actorshowtimes.herokuapp.com/", :target => "_blank" %> was an excercise in data gathering and manipulation. During a weekend hackathon my partner and I decided that we wanted to look at movie search from a different angle.  Instead of looking for currently playing movies we decided to create a search that allowed a user to type in the name of their favorite actor and then show them the times and locations of any movie that the actor was currently starring in.  After that we took it to the next step so users were able to create a profile where they could follow actors.
    </p>
  </div>
<div class="row">
  <div class="small-10 small-centered large-12 columns">
    <a href="assets/as.png" target="_blank"><img src="assets/as.png"></a>
  </div>
</div>
<div class="rows">
  <div class="small-12 small-centered large-12 columns">
    <br>
    <div class="small-10 small-centered large-7 columns">
      <br>
      <br>
      <h4>
        Technologies interacting
      </h4>
      <p>
        For our website to function we first used the gem Geocoder to get the user's zip code if it wasn't inputed.  Then we use the zipcode with along Nokogiri to scrape google movies for all the movies playing in that area.  Next we take the input from our search bar and run it against the The Movie Database api and see if the actor is in any of the movies playing in the area.  At that point any positive returns are displayed with the locations being inserted into google maps to show the theater locations.
      </p>
      <h4>
        Technologies used
      </h4>
      <p>
        Devise, Figaro, Foundation, Geocoder, Google Maps, Heroku, Nokogiri, Themoviedb. 
      </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="small-10 small-centered large-5 columns"><a href="assets/as1.png" target="_blank"><img src="assets/as1.png"></a></div>
  </div>
</div>
<!-- end of portfolio section -->
<hr>
<!-- beginning of about me section -->
<div class="small-10 small-centered large-12 large-centered columns">
  <h3><strong class="tag pull left">About me</strong></h3>
  <br>
  <br>
  <h3 class="work"> From Learning Ruby on my own to the MakerSquare program.</h3>
</div>
<hr>
<br id="aboutMe">
<div class="row">
  <h1 class="accent" id="section">Tyler J Wasden</h1>
  <div class="small-12 large-12 columns" role="content">
    <article>
      <div class="row">
        <div class="small-10 small-centered large-6 columns">
          <br>
          <br>
          <h4>2013 The Year of Code</h4>
           <p>In the beginning of 2013 I started to explore coding through codecademy and other online resources. I found the courses challenging but fun and stimulating. After a few months of online resources I decided to trade in my netbook for a mac and set up my local environmnet.</p>
           <p>With my local environment ready I began to start Ruby tutorials which introduced me to databases, RSpec, Cucumber and Capybara. I also learned about Bootstrap and Rails powerful command line tools such as scaffolding. I was enjoying the tutorials and began using them as a starting point to make other websites such as <%= link_to "this one", "http://mighty-island-3137.herokuapp.com/", :target => "_blank" %>.</p>
        </div>
        <div class="small-10 small-centered large-6 columns">
          <img src="assets/ty.jpg" />
        </div>
      </div>
      <br>
      <div class="small-10 small-centered large-12 columns">
        <h4>MakerSquare</h4>
        <p>I knew that I could work through these tutorials and explore web design on my own but when I learned of a local bootcamp opening up I decided it was time to kick my learning into high gear and prepare myself for a career change. I joined the <%= link_to "MakerSquare", "http://www.themakersquare.com/", :target => "_blank" %> program and was introduced to more complex database relationships, foundation as an alternate to bootstrap, Active Record, Ruby gems with various capabilities along with JavaScript and JQuery. I graduated from MakerSquare the end of January 2014</p>
        <p>I am now looking to transition into a full time position working with Ruby and JavaScript.  I love learning, I've been playing around with Angular so ideally my next step will allow me to continue to grow as a developer and keep up with cutting edge technology.</p>
      </div>
    </article>
  </div>
</div>
<!-- end of about me section -->
<hr id="contact">
<!-- beginning of contact section -->
<div class="small-10 small-centered large-12 large-centered columns">
  <h3><strong class="tag pull left">Contact</strong></h3>
  <br>
  <br>
  <br>
  <h3 class="work"> If you're looking for a motivated junior developer with hands on experience get in touch.</h3>
  <h3><a href="mailto:wasdenonrails@gmail.com">wasdenonrails@gmail.com</a></h3>
</div>
<hr>
<h3 class="end">Thanks For Visiting</h3>
<h3 class="end">TJW</h3>
<br>
<br>
<br>